{% extends 'blog/base.html' %}
{% load static %}

{% block title %}News Letter {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>News Letter</h1>
            <hr>
            {% for new in news %}
            <h4>
                <a href="{{ news.get_absolute_url }}">
                    {{ new.title }}
                </a>
            </h4>
            <p class="date">
                Published {{ new.publish }} by {{ new.author }}
            </p>
            {{ new.body|truncatewords:30|linebreaks }}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div id="sidebar">
                <h2>My blog</h2>
                <p>This is my blog.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}