{% extends 'blog/base.html' %}
{% load static %}

{% block title %}News Letter {% endblock %}

{% block head-element %}
<div class="row blockquote">
    <div class="col">

    </div>
</div>
{% endblock %}

{% block content %}
<div class="container container-news">
    <div class="row">
        <div class="col-md-8">
            <h1>News Letter</h1>
            <hr>
            {% for new in news %}
            <div class="row">
                <div class="col-12 col-md-8">
                    <h4>
                        <a style="text-decoration: none; color:black" href="{{ new.get_absolute_url }}">
                            {{ new.title }}
                            <p class="date">
                                Published {{ new.publish }} by {{ new.author }}
                            </p>
                            {{ new.body|truncatewords:30|linebreaks }}
                        </a>
                    </h4>

                </div>

                <div class="col-sm-8 col-md-4" style="width: 12rem; float: right;">
                    <img class="card-img-top"
                        src="https://cdn-media-2.freecodecamp.org/w1280/604adcf9a7946308b7687147.jpg"
                        alt="Card image cap">
                </div>
            </div>
            <br>
            <br>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <div id="sidebar">
                <h6>DISCOVER MORE OF WHAT MATTERS TO YOU.</h6>

            </div>
        </div>
    </div>
</div>

{% endblock %}