body {
    margin: 0;
    overflow-x: hidden;
    background-color: #ffffff;
}

.gradient-section {
    background: radial-gradient(circle at 20% 20%, #1b1b32 25%, #1b1b32 100%);
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 4rem 0;
    height: 80%;
}

.instruction-manual {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -1rem;
}

.instruction-manual a {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0.2rem 0.25rem 0.75rem 0 rgb(0 0 0 / 10%);
    display: block;
    margin: 1rem;
    padding: 1rem 1rem;
    transition: all .2s ease;
    z-index: 2;
    color: #5183f5;
    font-weight: 500;
    text-decoration: none;
}

.instruction-manual a img {
    display: block;
    height: 60px;
    margin: auto;
    border-radius: 90%;
}

.instruction-manual h3 {
    margin: 0.5rem auto 0;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
}

.social-section a {
    color: #000;
}

/*--------------trying image left and content right--------*/

.container-m-nx {
    box-shadow: 0 0 30px rgb(31 45 61 / 13%);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 20px;
}

/* -------section for image left/content right in list.html-------*/
.post-feed {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 0;
    margin: 0 -20 0 -20;
    padding: 0;
}

.post-card {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 20px 50px;
    min-height: 100px;
    background: #fff center center;
    background-size: cover;
}


.post-card-image {
    width: 100%;
    height: 200px;
    background: var(--gray15) no-repeat center center;
    object-fit: cover;
}

.post-card-image-link {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 1.2rem;
}

.post-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.post-card-content-link {
    position: relative;
    display: block;
    padding: 5px 0 0;
    color: var(--gray90);
}

.post-card-tags a {
    margin-bottom: 5.0rem;
    color: var(--gray75);
    font-size: 1.1rem;
    line-height: 1.15em;
    font-weight: 200;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-right: 15px;
    text-decoration: none;
}

.post-card-title {
    margin-top: 1rem;
}

.my-3 a:hover {
    text-decoration: underline;
}

.post-card-meta {
    padding: 0 25px 25px 4px;
}

.author-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 0;
    list-style: none;
}

.author-list-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.static-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -5px;
    width: 34px;
    height: 34px;
    border: #fff 2px solid;
}

.author-profile-image,
.avatar-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--gray15);
    object-fit: cover;
}

.meta-content {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-between;
    font-size: 1.1rem;
}

.meta-item,
.reading-time {
    flex-shrink: 0;
    margin-left: 20px;
    color: var(--gray75);
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
}



/*-------------end--------------------------*/


/*----------Start New-------------------*/
.member-details {
    padding-top: 80px;
    padding-bottom: 80px
}

@media (min-width:992px) {
    .member-details {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

.member-details .member_designation {
    margin-bottom: 30px
}

.member-details .member_designation h2 {
    margin-bottom: 5px;
    margin-top: 25px
}

@media (min-width:768px) {
    .member-details .member_designation h2 {
        margin-top: 0
    }
}

.member-details .member_designation span {
    font-style: italic
}

.member-details .member_desc li {
    display: block;
    float: unset;
    width: 100%
}

.member-details .member_desc li i {
    color: #0cc652;
    font-size: 14px
}

.member-details .member_desc h4 {
    margin-top: 40px
}

.member-details .member_desc p {
    margin-top: 10px
}

.member-details .member_desc .progress-holder {
    margin-top: 30px;
}

.member-details .media-box {
    margin-bottom: 20px
}

@media (min-width:992px) {
    .member-details .media-box {
        margin-bottom: 0
    }
}

.member-details .member_contact {
    padding: 40px;
    position: relative;
    margin-top: 40px
}

.member-details .member_contact .media-icon {
    font-size: 32px;
    color: #dae0e6;
    position: relative;
    width: 30px;
    text-align: center;
    float: left;
    margin-right: 15px
}

.member-details .member_contact .media-content {
    padding-left: 0;
    float: left
}

.member-details .member_contact .media-content h5 {
    font-size: 15px
}

.member-details .member_contact .media-content h5,
.member-details .member_contact .media-content a {
    color: #dae0e6
}

@media (min-width:992px) {
    .member-details .member_contact .social-icons {
        text-align: right
    }
}

.member-details .member_contact .social-icons .btn-social {
    width: 40px;
    height: 40px;
    line-height: 40px
}

.member-details .member_contact .social-icons .btn {
    background-color: transparent;
    border: 1px solid;
    border-color: #999;
    color: #dae0e6
}

.member-details .member_contact .social-icons .btn:hover {
    background-color: #eef7f1;
    border-color: #d6ddd8;
    opacity: 1
}

.bg-image-holder,
.bg-image {
    background-size: cover !important;
    background-position: 50% 0 !important;
    transition: all .3s linear;
    background: #f5f5f6;
    color: #fff;
    position: relative
}

.bg-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7)
}

.bg-fixed {
    background-attachment: fixed
}

.bg-image .overlay-content {
    position: relative;
    z-index: 5
}


.progress-holder {
    margin-top: 50px
}

.progress-holder .barWrapper .progressText {
    font-size: 15px;
    color: #222
}

.progress-holder .progress {
    margin-bottom: 25px;
    margin-top: 10px;
    overflow: visible;
    background-color: #f5f5f6
}

.progress-holder .progress .progress-bar {
    position: relative
}

.progress-holder .progress .progress-bar:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 33px;
    background-color: #0cc652;
    top: -8px;
    right: 0;
    z-index: 55
}

.img-full {
    width: 100%;
}

p {
    color: #8b8e93;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 26px;
}



.styled_list {
    margin-top: 15px;
    position: relative;
    display: inline-block
}

.styled_list li i {
    color: #37e571
}


@media (min-width:768px) {
    .styled_list {
        margin-top: 15px
    }
}

.styled_list li {
    font-size: 30px;
}


@media (min-width:768px) {
    .styled_list li {
        font-size: 14px;
        float: left;
        margin: 5px;
        width: 100%
    }
}

.styled_list li i {
    margin-right: 10px;
    font-size: 18px
}



@media (min-width:768px) {
    .styled_list li a {
        font-size: 12px
    }
}

@media (min-width:992px) {
    .styled_list li a {
        font-size: 14px
    }
}

ol.styled_list {
    margin-left: 15px
}

ol.styled_list li {
    padding-left: 10px
}

/*----------End New-----------------------*/

.gray-bg {

    background-color: #f5f5f5;
}

.tag-cloud a {
    text-decoration: none;
}

.tag-cloud a:hover {
    background-color: rgb(8, 17, 34);
    color: #ffffff;
}

.lpa-right img {
    width: 40%;
    height: 40%;
}

.latest-post {
    padding-right: 25px;
}

.artic {
    padding-right: 25px;
}

.button {
    background: #f2f2f2;
    border-radius: 6px;
    color: #5f5f5f;
    font-weight: 400;
    font-size: 1rem;
    font-size: 1rem;
    border: 1px solid #f2f2f2;

}

/*  section for author */
.theme-bg-white {
    background-color: #fff !important;
}

.ui-w-100 {
    width: 100px !important;
    height: auto;
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}

/*   */

/* Blog Sidebar
-------------------*/
.blog-single {
    padding-top: 30px;
    padding-bottom: 30px;
}

.blog-aside {
    margin-left: 20px;
}

.blog-aside .widget {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    margin-top: 0px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.blog-aside .widget-body {
    padding: 15px;
}

.blog-aside .widget-title {
    padding: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
}

.blog-aside .widget-title h3 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.blog-aside .widget-title button:hover {
    background-color: #ddd;
}

blog-aside .widget-title .blog-aside .widget-author .media {
    margin-bottom: 15px;
}

.blog-aside .widget-author p {
    font-size: 16px;
    margin: 0;
}

.blog-aside .widget-author .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.blog-aside .widget-author h6 {
    font-weight: 600;
    color: #20247b;
    font-size: 22px;
    margin: 0;
    padding-left: 20px;
}

.blog-aside .post-aside {
    margin-bottom: 15px;
}

.blog-aside .post-aside .post-aside-title h5 {
    margin: 0;
}

.blog-aside .post-aside .post-aside-title a {
    font-size: 18px;
    color: #20247b;
    font-weight: 600;
}

.blog-aside .post-aside .post-aside-meta {
    padding-bottom: 10px;
}

.blog-aside .post-aside .post-aside-meta a {
    color: #6F8BA4;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}


.blog-aside .latest-post-aside+.latest-post-aside {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}


.blog-aside .latest-post-aside .lpa-right {
    width: 90px;
}


.blog-aside .latest-post-aside .lpa-right img {
    border-radius: 3px;
}


.blog-aside .latest-post-aside .lpa-left {
    padding-right: 15px;
}

.blog-aside .latest-post-aside .lpa-title h5 {
    margin: 0;
    font-size: 15px;
}

.blog-aside .latest-post-aside .lpa-title a {
    color: #20247b;
    font-weight: 600;
}

.blog-aside .latest-post-aside .lpa-meta a {
    color: #72b9f8;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}

.tag-cloud a {
    padding: 4px 15px;
    font-size: 13px;
    color: #ffffff;
    background: #727299;
    border-radius: 3px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.tag-cloud a:hover {
    background: #36285a;
}


.article {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0 30px;
}

.article .article-title {
    padding: 15px 0 20px;
}

.article .article-title h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.article .article-title h6 a {
    text-transform: uppercase;
    color: #fc5356;
    border-bottom: 1px solid #fc5356;
}

.article .article-title h2 {
    color: #20247b;
    font-weight: 600;
}

.article .article-title .media {
    padding-top: 15px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 20px;
}

.article .article-title .media .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.article .article-title .media .media-body {
    padding-left: 8px;
}

.article .article-title .media .media-body label {
    font-weight: 600;
    color: #fc5356;
    margin: 0;
}

.article .article-title .media .media-body span {
    display: block;
    font-size: 12px;
}


.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
    color: #20247b;
    font-weight: 600;
    margin-bottom: 15px;
}

.article .article-content blockquote {
    max-width: 600px;
    padding: 15px 0 30px 0;
    margin: 0;
}

.article .article-content blockquote p {
    font-size: 20px;
    font-weight: 500;
    color: #fc5356;
    margin: 0;
}

.article .article-content blockquote .blockquote-footer {
    color: #20247b;
    font-size: 16px;
}

.article .article-content blockquote .blockquote-footer cite {
    font-weight: 600;
}

.article .tag-cloud {
    padding-top: 10px;
}


.article-comment {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 20px;
}

.article-comment h4 {
    color: #20247b;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 22px;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* Contact Us
---------------------*/


.contact-form .form-control {
    border: none;
    border-bottom: 1px solid #20247b;
    background: transparent;
    border-radius: 0;
    padding-left: 0;
    box-shadow: none !important;
}

.contact-form .form-control:focus {
    border-bottom: 1px solid #fc5356;
}

.contact-form .form-control.invalid {
    border-bottom: 1px solid #ff0000;
}

.contact-form .send {
    margin-top: 20px;
}

/*----------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------*/
/* --------------------------------------------
    ICON LIST
-------------------------------------------- */




/* ----------------------from bossman ecommerce -------------------------*/

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-size: 20px;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* -------------------------------- Boostrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/*----------------photo profile section --------------------------------------------------------------------------------*/
.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}


.btn-primary {
    color: #fff;
    background-color: #a9b1bc !important;
    border-color: #a9b1bc !important;
}

.btn-primary:hover {
    background-color: #969ca5 !important;
}

.btn-default {
    color: #000;
    border: 1px solid black !important;
}

.btn-default:hover {
    color: #ffffff !important;
    background-color: #969ca5 !important
}

.profile-content h3 {
    margin: 15px 0 10px 0 !important;
}

.stats {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: table;
}

.stats .statis {
    display: table-cell;
    width: 25%;
    vertical-align: top;
}

.ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 0px 20px 20px 20px;
}


.btn {
    border-radius: 3px;
}


.btn-danger {
    background-color: #ef5352;
    border-color: #ef5352;
    color: #FFFFFF;
}

.btn {
    border-radius: 3px;
}

/*---------------------------------------section for leave a reply-----------------*/
.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}

.section-title {
    padding-bottom: 45px;
}

.contact-form .send {
    margin-top: 20px;
}

.px-btn {
    padding: 0 50px 0 20px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    color: #20247b;
    background: none;
    border: none;
}

.px-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 30px;
    background: transparent;
    border: 1px solid rgba(252, 83, 86, 0.6);
    border-right: 1px solid transparent;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    width: 60px;
    height: 60px;
}

.px-btn .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
}

.px-btn .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*---------------------------------------------------------------------------------------*/

@media(max-width: 991px) {
    .contact-form .send {
        margin-bottom: 20px;
    }

    .offset-1 {
        margin-left: 0px;
    }

    .blog-aside {
        margin-left: 0px;
    }



}

@media(max-width: 767px) {

    .offset-1 {
        margin-left: 0px;
    }

    .blog-aside {
        margin-left: 0px;
    }
}