{% extends "blog/base.html" %}
{% load static %}

{% block title %} My Blog {% endblock %}

{% block content %}
<!------------------main header section----------------------------->
<div class="gradient-section">
    <div class="container">
        <h2 class="text-center" style="color: #ffffff;">Missing instruction manuals of the web
        </h2>
        <div class="instruction-manual">
            <a href="">
                <img src="https://pratapsharma.io/static/strapi-509ab948960ecabc0cafd19a060c1b3c.png" alt="strapi">
                <h3>#Strapi</h3>
            </a>
            <a href="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png"
                    alt="strapi">
                <h3>#JavaScript</h3>
            </a>
            <a href="">
                <img src="https://ellinorwase.github.io/git-project/images/git().png" alt="strapi">
                <h3>#Git</h3>
            </a>
            <a href="">
                <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/skill_page/content/logo_file/logo/195568/sql-64a6e0f07773cf17581e76ca09e17dbc.png"
                    alt="strapi">
                <h3>#SQL</h3>
            </a>
            <a href="">
                <img src="https://ellinorwase.github.io/git-project/images/git().png" alt="strapi">
                <h3>#Git</h3>
            </a>
            <a href="">
                <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/skill_page/content/logo_file/logo/195568/sql-64a6e0f07773cf17581e76ca09e17dbc.png"
                    alt="strapi">
                <h3>#SQL</h3>
            </a>
        </div>
        <!----
        <h2 class="text-center" style="color: #ffffff; padding-top: 40px">Interview and Questions</h2>
        <div class="instruction-manual">
            <a href="">
                <img src="https://pratapsharma.io/static/strapi-509ab948960ecabc0cafd19a060c1b3c.png" alt="strapi">
                <h3>Strapi</h3>
            </a>
            <a href="">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png"
                    alt="strapi">
                <h3>JavaScript</h3>
            </a>
        </div> --->
    </div>
</div>
<!-------------end-------------->


<div class="container">
    <div class="row mt-5">
        {% for post in posts %}
        {% if request.user.is_authenticated %}
        <div class="d-none d-md-block col-lg-2 col-md-3 offset-2">
            <div class="img-container">
                <img src="{% static 'img/20200101_215945.jpg' %}" alt="team member" class="img-full">
            </div>
        </div>
        <div class="col-lg-6 col-md-5 mb-4">
            <div class="member_designation">
                <span class="post-card-tags">
                    <a href="#">#Javascript</a>
                </span>
                <h3 class="my-3">
                    <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: #000;">
                        {{ post.title }}
                    </a>
                </h3>
            </div>
            <div class="member_desc">
                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">
                            <a class="static-avatar" href="#">
                                <img src="{% static 'img/20200101_215945.jpg' %}" class="author-profile-image"
                                    width="2000" height="2000" alt="">
                            </a>
                            <span class="meta-content">
                                <a class="meta-item" href="">{{ post.author }}</a>
                                <p class="meta-item">{{ post.publish }}</p>
                            </span>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>
        {% else %}
        <div class="d-none d-md-block col-lg-2 col-md-3 offset-2">
            <div class="img-container">
                <img src="{% static 'img/20200101_215945.jpg' %}" alt="team member" class="img-full">
            </div>
        </div>
        <div class="col-lg-6 col-md-5 mb-4">
            <div class="member_designation">
                <span class="post-card-tags">
                    <a href="#">#Javascript</a>
                </span>
                <h3 class="my-3">
                    <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: #000;">
                        {{ post.title }}
                    </a>
                </h3>
            </div>
            <div class="member_desc">
                <footer class="post-card-meta">
                    <ul class="author-list">
                        <li class="author-list-item">
                            <a class="static-avatar" href="#">
                                <img src="{% static 'img/20200101_215945.jpg' %}" class="author-profile-image"
                                    width="2000" height="2000" alt="">
                            </a>
                            <span class="meta-content">
                                <a class="meta-item" href="">{{ post.author }}</a>
                                <p class="meta-item">{{ post.publish }}</p>
                            </span>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}