{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <header class="container">
        <div id="topnav" class="row bg-white py-lg-3 d-none d-lg-flex offset-1">
            <!---------------------------------Logo Name------------------------>
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-4 text-center text-lg-left">
                <a href="#" class="nav-link main-logo-link">
                    <h4 class="logo-font text-black my-0 text-center d-lg-flex">
                        <i class="fa fa-diamond mx-3"></i><span class="d-none d-md-block">Gerard Ambe </span>
                    </h4>
                </a>
            </div>
            <!-------------------------------------navbar------------------------->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-4">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="navbar-nav w-auto mx-auto">
                            <li class="nav-item dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"
                                    id="all-products-link" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    About
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"
                                    id="clothing-link" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Blogs
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"
                                    id="homeware-link" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    NewsLetter
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-----------------------------------section for search---------------------->
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-3 text-lg-right">
                <form method="GET" action="#" style="float: right;">
                    <div class="input-group w-100 text-lg-right">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon" style="background-color: #ffff;">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class=" blog-single gray-bg">
        <div class="container">
            <div class="row align-items-start offset-1">
                <div class="col-lg-4 m-15px-tb blog-aside">


                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" src="static/img/20200101_215945.jpg">
                    </div>
                    <div class="ibox-content profile-content">
                        <h3><strong>Personal Information</strong></h3>
                        <p>Hey, I'm a Full Stack Software Developer, Technical Writer, and a Modern Web Development
                            Trainer. I like to teach what i learnt, as teaching is part of learning.</p>
                        <p><i class="fa fa-map-marker"></i> Kalstad, Sweden</p>
                        <div class="row m-t-lg">
                            <div class="stats">
                                <div class="statis">
                                    <span class="bar" style="display: none;">5,3,9,6,5,9,7,3,5,2</span><svg
                                        class="peity" height="16" width="32">
                                        <rect fill="#1ab394" x="0" y="7.111111111111111" width="2.3"
                                            height="8.88888888888889"></rect>
                                        <rect fill="#d7d7d7" x="3.3" y="10.666666666666668" width="2.3"
                                            height="5.333333333333333">
                                        </rect>
                                        <rect fill="#1ab394" x="6.6" y="0" width="2.3" height="16"></rect>
                                        <rect fill="#d7d7d7" x="9.899999999999999" y="5.333333333333334" width="2.3"
                                            height="10.666666666666666"></rect>
                                        <rect fill="#1ab394" x="13.2" y="7.111111111111111" width="2.3"
                                            height="8.88888888888889">
                                        </rect>
                                        <rect fill="#d7d7d7" x="16.5" y="0" width="2.3" height="16"></rect>
                                        <rect fill="#1ab394" x="19.799999999999997" y="3.555555555555557" width="2.3"
                                            height="12.444444444444443"></rect>
                                        <rect fill="#d7d7d7" x="23.099999999999998" y="10.666666666666668" width="2.3"
                                            height="5.333333333333333"></rect>
                                        <rect fill="#1ab394" x="26.4" y="7.111111111111111" width="2.3"
                                            height="8.88888888888889">
                                        </rect>
                                        <rect fill="#d7d7d7" x="29.7" y="12.444444444444445" width="2.3"
                                            height="3.5555555555555554">
                                        </rect>
                                    </svg>
                                    <h5><strong>169</strong><br>Posts</h5>
                                </div><!-- /statis -->

                                <div class="statis">
                                    <span class="line" style="display: none;">5,3,9,6,5,9,7,3,5,2</span><svg
                                        class="peity" height="16" width="32">
                                        <polygon fill="#1ab394"
                                            points="0 15 0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666 32 15">
                                        </polygon>
                                        <polyline fill="transparent"
                                            points="0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666"
                                            stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline>
                                    </svg>
                                    <h5><strong>28</strong><br>Following</h5>
                                </div> <!-- /statis -->

                                <div class="statis">
                                    <span class="bar" style="display: none;">5,3,2,-1,-3,-2,2,3,5,2</span><svg
                                        class="peity" height="16" width="32">
                                        <rect fill="#1ab394" x="0" y="0" width="2.3" height="10"></rect>
                                        <rect fill="#d7d7d7" x="3.3" y="4" width="2.3" height="6"></rect>
                                        <rect fill="#1ab394" x="6.6" y="6" width="2.3" height="4"></rect>
                                        <rect fill="#d7d7d7" x="9.899999999999999" y="10" width="2.3" height="2"></rect>
                                        <rect fill="#1ab394" x="13.2" y="10" width="2.3" height="6"></rect>
                                        <rect fill="#d7d7d7" x="16.5" y="10" width="2.3" height="4"></rect>
                                        <rect fill="#1ab394" x="19.799999999999997" y="6" width="2.3" height="4"></rect>
                                        <rect fill="#d7d7d7" x="23.099999999999998" y="4" width="2.3" height="6"></rect>
                                        <rect fill="#1ab394" x="26.4" y="0" width="2.3" height="10"></rect>
                                        <rect fill="#d7d7d7" x="29.7" y="6" width="2.3" height="4"></rect>
                                    </svg>
                                    <h5><strong>240</strong><br>Followers</h5>
                                </div> <!-- /statis -->
                            </div>
                        </div><!-- /row m-t-lg -->

                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block">
                                        <i class="fa fa-envelope"></i> Send Message</button>
                                </div>

                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-sm btn-block">
                                        <i class="fa fa-coffee"></i> Buy a coffee</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /profile-content -->
                </div>
                <!-- Author --
                    <div class="widget widget-author">
                        <div class="widget-title">
                            <h3>Author</h3>
                        </div>
                        <div class="widget-body">
                            <div class="media align-items-center">
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                                </div>
                                <div class="media-body">
                                    <h6>Hello, I'm<br> Rachel Roth</h6>
                                </div>
                            </div>
                            <p>I design and develop services for customers of all sizes, specializing in
                                creating
                                stylish,
                                modern websites, web services and online stores</p>
                        </div>
                    </div>
                    -- End Author -->
                <!-- Trending Post -->
                <div class="col-lg-6 m-15px-tb blog-aside">
                    <div class="widget widget-post">
                        <div class="widget-title">
                            <!--   <h3>Trending Now</h3> -->
                            <h3>Most In-Demand Programming Languages</h3>
                        </div>
                        <div class="widget-body">
                            <div class="nav tag-cloud">
                                <a href="#">JavaScript</a>
                                <a href="#">Python</a>
                                <a href="#">HTML</a>
                                <a href="#">CSS</a>
                                <a href="#">SQL</a>
                                <a href="#">TypeScript</a>
                                <a href="#">NodeJs</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Trending Post -->
                    <!-- Latest Post -->

                    <div class="widget widget-latest-post">
                        <div class="widget-title">
                            <h3>Latest Post</h3>
                        </div>
                        <div class="widget-body">
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="#">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                            26 FEB 2020
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="#">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                            26 FEB 2020
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="latest-post-aside media">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <a class="name" href="#">
                                            Rachel Roth
                                        </a>
                                        <a class="date" href="#">
                                            26 FEB 2020
                                        </a>
                                    </div>
                                </div>
                                <div class="lpa-right">
                                    <a href="#">
                                        <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Latest Post -->
                    <!-- widget Tags -->
                    <div class="widget widget-tags">
                        <div class="widget-title">
                            <h3>Latest Tags</h3>
                        </div>
                        <div class="widget-body">
                            <div class="nav tag-cloud">
                                <a href="#">Design</a>
                                <a href="#">Development</a>
                                <a href="#">Travel</a>
                                <a href="#">Web Design</a>
                                <a href="#">Marketing</a>
                                <a href="#">Research</a>
                                <a href="#">Managment</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End widget Tags -->

                <div class="col-12 m-15px-tb">
                    <article class="article">
                        <!-- Trending Post -->
                        <div class="widget widget-post">
                            <div class="widget-title">
                                <h3>Trending Now</h3>
                            </div>
                            <div class="widget-body">

                            </div>
                        </div>
                        <!-- End Trending Post -->

                        <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div>
                    </article>
                    <div class="contact-form article-comment">
                        <h4>Leave a Reply</h4>
                        <form id="contact-form" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="Name" id="name" placeholder="Name *" class="form-control"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="Email" id="email" placeholder="Email *" class="form-control"
                                            type="email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" placeholder="Your message *" rows="4"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="send">
                                        <button class="px-btn theme"><span>Submit</span> <i class="arrow"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>